#game {
    display:flex; 
    justify-content: space-between;
    
    padding-top: 15px; 

    background-image: radial-gradient(circle, transparent 0%, rgba(0,0,0,0.5) 100%)
    
    }

    #bakery{
      flex:1;
      height: 100vh;
      min-width: 250px;
      max-width: 400px;
      

      
      background-image: radial-gradient(circle, transparent 0%, rgba(0,0,0,0.5) 100%);
    }
    
    #production{
        flex:2;
        overflow-y: scroll;
        height: 100vh;
        min-width: 500px;
        background-repeat: repeat-y;       
        background-image: linear-gradient(circle, transparent 0%, rgba(0,0,0,0.5) 80%) ;
    
    }  
    
    
       
   
    
    #store{
        flex:1;
        display: grid;
        background-image: radial-gradient(circle, transparent 0%, rgba(0,0,0,0.5) 100%);
    
    }
      

     #buildings{
        background-color: red;
        border-top: 16px solid transparent;
        border-image: url(../../assets/images/panel-horizontal.png) 16 round;
       
    } 

     
    .separator{
     
     width: 1rem;
     background-image: url('../../assets/images/panel-vertical.png');
    }

    hr{
        height: 1rem;
    
        margin-top: 15px;

        background-image: url('../../assets/images/panel-horizontal.png');
    }

    