#game {
    display:flex; 
    justify-content: space-between;

    padding-top: 15px;
    
    }

    #bakery{
      flex:1;
      
      height: 100vh;
      min-width: 250px;
      max-width: 400px;
      

      
      background-image: radial-gradient(circle, transparent 0%, rgba(0,0,0,0.5) 100%), url("../../assets/images/bg-blue.jpg");
    }
    
    #production{
        flex:2;
        overflow-y: scroll;
        height: 100vh;
        min-width: 500px;

        
  
        background-repeat: repeat-y;       
    }                  
    
    #store{
        flex:1;
    }
    
    .separator{
     width: 1rem;
     background-image: url('../../assets/images/panel-vertical.png');
    }