 /* Là aussi, pas question d’ajouter du HTML pour y parvenir. C’est le moment d’apprendre à utiliser des techniques CSS 
un peu plus avancées, le pseudo-élément ::after est un ami.  */
#buildings > * {
    background:url('../../assets/images/store-tile.jpg');
    opacity: 0.7;
 
  
    cursor: pointer;
    
 }
 /* // let bulding_tuils = buildings_container.innerHTML += '<div id="building-cursor" class="locked disabled">'
 +'<div class="icon"></div>'
 +'<div class="name">'+ buildings[0].name +'</div>'
 +'<div class="cost">'+ buildings[0].cost +'</div>'
 +'<div class="number"></div>'
 +'</div> '
  */
 
  /* #building-cursor {
     border: 2px solid red;
 } */
 
 /* ICON */
 .icon {
     position: absolute;
     width: 3.7%;
     height: 11.5%;
     border: 2px solid green;
 }
 #building-cursor .icon{
     background-image: url('../../assets/images/buildings.png');
     background-position:0 0px ;
 }
 #building-grandma .icon{
     background-image: url('../../assets/images/buildings.png');
     background-position:0 -70px ;
 }
 #building-farm .icon{
     background-image: url('../../assets/images/buildings.png');
     background-position:0 -210px ;
 }
 #building-mine .icon{
     background-image: url('../../assets/images/buildings.png');
     background-position:0 -260px ;
 }
 #building-factory .icon{
     background-image: url('../../assets/images/buildings.png');
     background-position:0 -320px ;
 }
 
 /* NAME */
 .name {
     border: 2px solid purple;
     color: white;
     
 }
 .cost {
     border: 2px solid pink;
     background: url('../../assets/images/money.png') no-repeat 39% 50%;
     
 }
 .number {
     width: 4%;
     height: 12%;
     border: 2px solid blue;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1.5em;
 } 
 #building-cursor .number{
     position: absolute;
     right:0;
     top:90px;
 }
 #building-grandma .number{
     position: absolute;
     right:0;
     top:155px;
 }
 #building-farm .number{
     position: absolute;
     right:0;
     top:220px;
 }
 #building-mine .number{
     position: absolute;
     right:0;
     top:285px;
 }
 #building-factory .number{
     position: absolute;
     right:0;
     top:350px;
 }
 
 
 .locked{
 
  color: #ff6666;
 
 } 
                                         /* store-tile.jpg
                                         Lorsqu’une tuile est bloquée (classe .locked) la silhouette de l’icône est affichée
 
                                         */
 .unlocked{
     color: greenyellow;
 
 } 
 
 /*.enabled{
 
 } */
 /* 
 .disabled{
 
 } */
                                         /* Lorsqu’une tuile est désactivée (classe .disabled) :
                                         Le texte du coût du bâtiment est de couleur corail (#ff6666)
                                         L’image de fond de la tuile est assombri
                                         */
 
 
 
 /* .icon{
 
 } */
 
 /* .name{
   
 } */
                                         /* La taille du texte est proportionnelle à 1.3 fois la taille de référence */
                                         /* .cost{
 
 } */
                                                 /* Fond : money.png
                                             La taille du texte est proportionnelle à 0.7 fois la taille de référence
                                             Le texte est vert (#66ff66) par défaut
                                             Lorsque la tuile est désactivée (classe .disabled) le texte est corail (#ff6666) */
 
 
 /* .name .cost{
 
 
 } */
                                             /* Le texte est gras
                                         Deux ombres :
                                         une ombre de couleur noir (#000000) avec aucun offset et un blur-radius de 4px
                                         une ombre de couleur noir (#000000) avec aucun offset-x, un offset-y de 1px et un blur-radius de 4px */
                                         /* .number{
 
 
 } */
 
 
 
                                         /* Au survol d’une tuile une ombre intérieure blanche (#ffffff) avec aucun offset, un blur-radius de 15px et un spread-radius de 3px.
 
                                         Une transition douce entre les différents états (normal, survol, actif) est souhaitable.
 
 
                                         */
  
 