#bakery{
  flex:1; /* production:flex:2 , store flex:1     */
  height: 100vh;
  min-width: 250px;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  

  background-image: radial-gradient(circle, transparent 0%, rgba(0,0,0,0.5) 100%);
}

#cookies{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  margin-top: 10%;
}

#cookiesStock {
  text-align: center;
  font-size: 2rem;

}
#cookiesPerSecond{
  text-align: center;
  cursor: pointer;
}


#bigCookie{
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 100%;
  background: linear-gradient(#f8fafa, #3f3f3d, #faf9fa);
  transform: scale(1.2);
  animation: animate 0.9s linear infinite;        
  margin: 30% 5%;  
  filter: blur(25px);
  
}

@keyframes animate 
{
  0%
  {
      transform: rotate(0deg);
  }
  100%
  {
      transform: rotate(360deg);
  }
}
#bigCookie span{ 
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#f8fafa, #3f3f3d, #faf9fa);
  transform: scale(0.9);
}


#Cookie{
position: absolute;
width: 255px;
height: 255px;
background-image: url("../../assets/images/perfect-cookie.png");
background-size: 255px;
margin: -22% -8%;

}
#Cookie:hover {
cursor: pointer;

}
#Cookie:active {
transform: scale(0.95);
}






  /* KEYFRAMES COLORS BAKERY and NEON */
  
  #bakery:nth-child(1) h2 {
    color: white;
    transition: 0.2s;
  }
    
  #bakery:nth-child(1) h2{
    -webkit-animation: neon1 1.2s ease-in-out infinite alternate;
    -moz-animation: neon1 1.2s ease-in-out infinite alternate;
    animation: neon1 1.2s ease-in-out infinite alternate;
  }
    
  @-webkit-keyframes neon1 {
    from {
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.4), 0 0 2px rgba(255, 255, 255, 0.4), 0 0 3px rgba(255, 255, 255, 0.4), 0 0 4px #228DFF, 0 0 7px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF, 0 0 15px #228DFF;
      }
      to {
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4), 0 0 15px rgba(255, 255, 255, 0.4), 0 0 20px #228DFF, 0 0 50px #228DFF, 0 0 4px #228DFF, 0 0 5px #228DFF, 0 0 7px #228DFF;
    }
  }    
    
  @-moz-keyframes neon1 {
    from {
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.4), 0 0 2px rgba(255, 255, 255, 0.4), 0 0 3px rgba(255, 255, 255, 0.4), 0 0 4px #228DFF, 0 0 7px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF, 0 0 15px #228DFF;
      }
      to {
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4), 0 0 15px rgba(255, 255, 255, 0.4), 0 0 20px #228DFF, 0 0 50px #228DFF, 0 0 4px #228DFF, 0 0 5px #228DFF, 0 0 7px #228DFF;
    }
      
  }
  @keyframes neon1 {
    from {
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.4), 0 0 2px rgba(255, 255, 255, 0.4), 0 0 3px rgba(255, 255, 255, 0.4), 0 0 4px #228DFF, 0 0 7px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF, 0 0 15px #228DFF;
      }
      to {
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4), 0 0 15px rgba(255, 255, 255, 0.4), 0 0 20px #228DFF, 0 0 50px #228DFF, 0 0 4px #228DFF, 0 0 5px #228DFF, 0 0 7px #228DFF;
    }
  }